---
---

<div
    class="my-12 w-11/12 sm:w-3/4 2xl:w-1/2 mx-auto bg-[#D0D7C4] py-8 px-12 border border-none rounded-3xl"
>
    <h2 class="font-display font-bold text-4xl">Child Therapy in Littleton</h2>
    <div class="w-full sm:w-5/6">
    <p>
        Is your child struggling to control their emotions or reactions? Has
        their behavior changed and you’re not sure why? Maybe their grades have
        dropped; all of a sudden you’re getting calls from the school; they
        may have withdrawn into themselves, or started lashing out at others.
    </p>
    <p>
        While children and teens are incredibly resilient, even under the best
        of circumstances, they may need support from someone outside of the
        family in order to recover from a major change, or unlock their full
        potential and thrive. That is where therapy comes in.
    </p>
</div>
</div>
