---
import { Image } from "astro:assets";
import leaves1 from "@assets/florals/leaves-1.png";
---

<div class="w-full overflow-visible mt-8 mx-auto relative">
        <Image
          src={leaves1}
          alt="line drawing of leaves and buds"
          class="opacity-10 sm:opacity-20 w-11/12 sm:w-1/6 absolute -top-0 -right-16 sm:right-12 2xl:right-24 sm:-top-20 xl:-top-24 z-0"
        />
    <div
        class="flex flex-wrap justify-center gap-x-1 relative inset-x-0 z-10"
    >
        <h1 class="w-full md:w-3/4 font-serif text-5xl text-center mb-8">
            In-Person, Telehealth, and Animal Assisted Therapy for Children and
            Teens in Denver
        </h1>
        <div class="text-2xl px-6 xl:pl-20 xL:pr-40 md:w-3/4 xl:w-1/2">
            Fostering conditions for growth
        </div>
    </div>
</div>

