---
import { Image } from "astro:assets";
import dottie1 from "@assets/dottie1.jpg";
import iris from "@assets/flowers/iris-yellow.jpg";
import Button from "@layouts/Button.astro";
---

<div class="fadein mt-24 mb-12 sm:max-md:mt-12 flex flex-col justify-center items-center lg:flex-row gap-16 mx-8 sm:mx-24 2xl:mx-64">
    <div class="w-full lg:w-1/4 relative">
            <Image
                src={iris}
                alt="yellow iris"
                width={400}
                class="border border-none rounded-2xl relative z-10 mx-auto"
            />
            <Image
                src={dottie1}
                alt="black and white american bulldog mix"
                height={200}
                class="border border-none rounded-2xl -rotate-12 absolute z-20 -top-16 -left-8 md:left-16 lg:-left-32"
            />
    </div>
    <div class="w-full xl:w-1/2">
        <h2>Children, Adolescent, and Young Adult Therapy</h2>
        <p>
            I work with children, adolescents, and their families. My therapeutic approach is collaborative, client-centered, and strengths-based, & I also believe in integrating fun activities to facilitate relationship-building and keep kids engaged, whether that may be art, games, reading together, or otherwise accommodating their unique interests.
        </p>
        <p>
            When you love someone who is having a difficult time, it's easy to feel out of your depth or unsure of how to help. Whether your child has been struggling for a while, or something has recently changed and they need professional help for the first time, I am here to support you both. Reach out to me today to start your journey!
        </p>
        <div class="mt-8 w-full flex flex-col items-center justify-center gap-3 md:flex-row md:justify-between">
            <Button color="primary" link="/about" otherClasses="grow whitespace-nowrap">About Julia</Button>
            <Button color="primary" link="/services" otherClasses="grow whitespace-nowrap">Services</Button>
            <Button color="primary" link="/contact" otherClasses="grow whitespace-nowrap">Schedule a Consultation</Button>
        </div>
    </div>
</div>
