---
import { Image } from "astro:assets";
import type { TitleStyles } from "types";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@layouts/Header.astro";
import Button from "@layouts/Button.astro";
import ContactForm from "@components/ContactForm.astro"
import florals from "@assets/florals/leaves-1.png";


const pageTitle: TitleStyles[] = [{ text: "Contact", style: "serif" }];
const pageDesc =
    "Lorem ipsum dolor sit amet consectetur. Ultrices dolor feugiat sed sed ullamcorper vel egestas et. Volutpat amet in fermentum hac.";
---

<Layout title="Roots of Possibility | Contact">
    <Main>
        <Header pageTitleWords={pageTitle} pageDesc={pageDesc} />
        <div class="p-4 sm:px-8 xl:px-10 2xl:px-48">
            <div class="flex flex-nowrap justify-between gap-8 mb-8">
                <div
                    class="w-full lg:w-2/3 bg-secondary text-base-100 border border-none rounded-2xl py-8 px-8 flex flex-col items-center"
                >
                    <h3 class="text-center">Schedule a Consultation</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Ultrices dolor
                        feugiat sed sed ullamcorper vel egestatas et.
                    </p>
                    <Button
                        color="secondary"
                        link="https://www.therapyportal.com/p/rootsofpossibility/appointments/availability/#AvailabilityScreen=availability&AvailabilityClinician=515646&AvailabilityApptType=0&AvailabilityIsExistingPatient=false&AvailabilityStartDay=4%2f26%2f2024"
                        otherClasses="mt-6 whitespace-nowrap"
                    >
                        Book an Appointment
                    </Button>
                </div>
                <div
                    class="w-full w-3/4 bg-[#D0D7C4] py-8 px-8 border border-none rounded-2xl"
                >
                    <h3 class="text-center">Contact Roots of Possibility</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Ultrices dolor
                        feugiat sed sed ullamcorper vel egestatas et.
                    </p>
                </div>
            </div>
            <div
                class="w-full bg-primary text-base-100 flex flex-col md:flex-row justify-center items-center gap-4 px-8 py-8 mb-8 border border-none rounded-2xl"
            >
                <div class="w-full md:w-1/2">
                    <h3 class="text-center">Visit the Office</h3>
                    <p>
                        8500 W Bowles Ave #315<br />
                        Littleton, CO 80123
                    </p>
                    <p>on the first floor of the Wells Fargo building*</p>
                </div>
                <div class="w-full md:w-1/2">
                    <p>
                        * please note: this is a temporary office space and as
                        such may not have certain accessibility features that
                        fully align with RoP’s values and beliefs, so while the
                        building is ADA accessible, there are not single-use or
                        gender-neutral restrooms on the premises.
                    </p>
                </div>
            </div>
            <p>
                <em>
                    This website, and my contact information, is <b>not</b> to be
                    used in case of any mental health emergency. If you are in crisis,
                    please call 988 (the national suicide lifeline), 911, or visit
                    your local emergency room or walk-in crisis center. You can also
                    reach Colorado Crisis Services by calling 1-844-493-8255 or Texting
                    “TALK” to 38255.
                </em>
            </p>
            <svg class="w-full mx-auto my-8" viewBox="0 0 1054 21" fill="none">
                <path
                    d="M1 10.9788C44.8333 -2.32626 88.6667 -2.32626 132.5 10.9788C167.367 18.8408 211.201 18.8408 264 10.9788C307.833 3.11671 351.667 3.11671 395.5 10.9788C438.397 18.5049 482.23 18.5049 527 10.9788C570.833 3.4527 614.667 3.4527 658.5 10.9788C711.139 21.5287 754.973 21.5287 790 10.9788C833.833 0.428824 877.667 0.428824 921.5 10.9788C968.404 23.0071 1012.24 23.0071 1053 10.9788"
                    stroke="#A3B18A"
                    stroke-width="2"></path>
            </svg>
            <div class="flex justify-center gap-8 p-4 sm:px-8 lg:px-24 2xl:px-56">
                <Image
                    src={florals}
                    alt="drawing of leaves"
                    class="hidden lg:block opacity-20 w-1/4"
                />
                <div class="w-full lg:w-3/4">
                    <h2 class="text-center mb-8">Send a Message</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Ultrices dolor feugiat sed sed ullamcorper vel egestatas et. Lorem ipsum dolor sit amet consectetur. Ultrices dolor feugiat sed sed ullamcorper vel egestatas et.</p>
                    <ContactForm />
                </div>
            </div>
        </div>

    </Main>
</Layout>
