---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Button from "@layouts/Button.astro";
import HomepageHeader from "@components/homepage/HomepageHeader.astro";
import Callout from "@components/homepage/Callout.astro";
import Intro from "@components/homepage/Intro.astro";
import AnimalAssisted from "@components/homepage/AnimalAssisted.astro";
import Services from "@components/homepage/Services.astro";

---

<Layout title="Roots of Possibility | Julia Kuttler, LCSW">
	<Main>
		<HomepageHeader />
		<Callout />
		<Intro />
		<AnimalAssisted />
		<Services />
	</Main>
</Layout>

<style></style>

<!-- <script>
	const encEmail = "anVsaWFAcm9vdHNvZnBvc3NpYmlsaXR5LmNvbQ==";
	const $form = document.getElementById("contact") as HTMLLinkElement;
	$form.setAttribute("href", "mailto:".concat(atob(encEmail)));
</script> -->
