---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";

const pageTitle = "Roots of Possibility";
---

<Layout title="Roots of Possibility | Julia Kuttler, LCSW">
	<Main>
		<section id="intro" class="ml-24 flex flex-wrap content-start md:flex-nowrap">
			<div id="content" class="mt-8 w-5/12">
			<p>
				This website is under construction and will be live in July
				2024.
			</p>
			<p>In the meantime, check out my therapist profiles on:</p>
			<ul class="list-disc pl-8 pb-4">
				<li>
					<a
						href="https://www.psychologytoday.com/us/therapists/julia-kuttler-boulder-co/1293002"
					>
						Psychology Today
					</a>
				</li>
				<li>
					<a
						href="https://www.therapyden.com/therapist/julia-kuttler"
					>
						Therapy Den
					</a>
				</li>
				<li>
					<a
						href="https://mentalhealthmatch.com/therapist/viewprofile"
					>
						Mental Health Match
					</a>
				</li>
			</ul>
			<p>
				Looking to schedule a session in the meantime? I am currently
				taking new clients! I am able to accept Aetna and Cigna, and
				will soon be accepting Blue Cross Blue Shield (Anthem). I also
				take private pay clients who do not want to bill insurance.
			</p>
			<p>
				Book with me on <a
					href="https://headway.co/providers/julia-kuttler?utm_source=pem&utm_medium=direct_link&utm_campaign=79962"
					>Headway</a
				> to use your insurance benefits, or via my <a
					href="https://www.therapyportal.com/p/rootsofpossibility/appointments/availability/#AvailabilityScreen=availability&AvailabilityClinician=515646&AvailabilityApptType=0&AvailabilityIsExistingPatient=false&AvailabilityStartDay=4%2f26%2f2024"
					>scheduling portal</a
				>.
			</p>
			<p>
				Want to have a free initial consultation before diving in, or
				get on the waitlist to use your insurance coverage? Contact me
				today to schedule a phone call!
			</p>
			<div id="contact" class="py-3 text-center">
				<b>Email:</b><a id="contact" href="">
					julia@<span class="hidden" aria-hidden="true"
						>VINTAGE SPAM FILTER</span
					><!-- sdfjsdhfkjypcs -->rootsofpossibility.com</a
				><br>
				<b>Phone (call or text): </b>720-295-2413
			</div>
			<p class="pt-3">
				Note: Unfortunately I am unable to accept any clients that are
				on Medicaid at this time, even if you plan to pay out of pocket.
			</p>
		</div>
		<img src="tree.png" class="w-[600px] -mt-32 opacity-75">
		</section>
	</Main>
</Layout>

<style></style>

<script>
	const encEmail = "anVsaWFAcm9vdHNvZnBvc3NpYmlsaXR5LmNvbQ==";
	const $form = document.getElementById("contact") as HTMLLinkElement;
	$form.setAttribute("href", "mailto:".concat(atob(encEmail)));
</script>
