---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
---

<Layout title="Privacy Policy | Roots of Possibility">
    <Main>
        <section id="privacy-policy" class="w-9/12 mx-auto">
            <h1 class="text-center">Privacy Policy</h1>
            <small>Last Updated: April 2nd, 2024</small>
            <ol class="mt-8">
                <li class="pb-4">
                    <b>Personal Information</b><br />
                    We may collect personal information from users in various ways,
                    including but not limited to when users fill out forms on our
                    site, subscribe to our newsletter, or engage in other activities,
                    services, features, or resources we make available on our website.
                    The personal information we may collect includes First Name,
                    Last Name, Email Address, Phone Number, Message, and Interested
                    Services.
                </li>
                <li class="pb-4">
                    <b>Storage and Security</b><br />
                    All user data collected through our website is securely stored
                    in Chisme, a platform that meets HIPAA compliance standards.
                    Rest assured that your personal information is never shared with
                    third parties.
                </li>
                <li class="pb-4">
                    <b>Use of Tracking Technologies</b><br />
                    Our website uses Google Analytics, Facebook Pixel, and TikTok
                    Pixel to retarget visitors and enhance the overall user experience.
                    These tracking tools may collect various information, including
                    unique user IDs to each respective platform, IP address, unique
                    device ID, First Name, Last Name, Phone Number, Email Address,
                    browser used, and other identifying characteristics.
                </li>
                <li class="pb-4">
                    <b>Data Retention</b><br />
                    Data collected through our website is retained on Chisme indefinitely
                    unless we receive a deletion request. However, data on third-party
                    sites such as Facebook, Google Analytics, and TikTok is not retained
                    for longer than 18 months.
                </li>
                <li class="pb-4">
                    <b>Third-Party Sharing</b><br />
                    We do not share user data with any third-party services or entities
                    outside of the tracking pixels mentioned and our CRM platform,
                    Chisme.
                </li>
                <li class="pb-4">
                    <b>Data Deletion Request</b><br />
                    If you wish to have your data deleted from our records, please
                    send an email to Julia Kuttler (julia@rootsofpossibility.com)
                    with the subject line “Data Deletion Request” and provide your
                    information so that we can process your request.

                    <li class="pb-4">
                        <b>Age Restrictions</b><br />
                        While there are no age restrictions for accessing our website,
                        our services are only provided to adults aged 18 years or
                        older, and minors with a parent or guardian’s consent.
                    </li>
                    <li class="pb-4">
                        <b>Privacy Policy Updates</b><br />
                        We reserve the right to update our Privacy Policy as needed.
                        It is your responsibility to regularly review this policy
                        for any changes. By continuing to use our website, you agree
                        to the updated terms.
                    </li>
                    <li class="pb-4">
                        <b>International Data Transfers</b><br />
                        Our website is not intentionally targeting users in specific
                        geographical areas, and there are no intentional data transfers
                        involving international locations.
                    </li>

                    <p class="mt-6">
                        By using our website, you consent to the terms of this
                        Privacy Policy. If you have any questions or concerns
                        regarding our data practices, please contact us at:
                    </p>
                    <p>Roots of Possibility PLLC<br>
                        Mailing Address: 1942 Broadway St STE 314C, Boulder, CO
                        80302<br>
                    Phone: 720-295-2413<br>
                    Email: julia@<span class="hidden" aria-hidden="true"
                    >VINTAGE SPAM FILTER</span
                ><!-- sdfjsdhfkjypcs -->rootsofpossibility.com</p>

            </ol>
        </section></Main
    ></Layout
>
