---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";

---

<Layout title="Privacy Policy | Roots of Possibility">
	<Main>
        <section id="privacy-policy">

        </section>
    </Main>
</Layout>