---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";

---

<Layout title="Terms of Service | Roots of Possibility">
	<Main>
        <section id="terms-of-service">

        </section>
    </Main>
</Layout>