---

---

<div class="aux-menu hidden md:flex h-10 w-full bg-accent justify-end mr-4">
  <ul class="flex items-center gap-12 mr-8">
    <li><a href="/resources" title="Resources">Resources</a></li>
    <li><a href="/faq" title="FAQ">FAQ</a></li>
    <li><a href="https://www.therapyportal.com/p/rootsofpossibility/" title="Client Portal">Client Portal</a></li>
  </ul>
</div>

<style>
  .aux-menu a {
    @apply font-sans text-xl text-neutral relative hover:font-bold active:font-bold;
  }
  .aux-menu a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
</style>