---

---

<div class="fixed bottom-0 z-50 bg-accent text-heutral w-full py-2 px-2 text-center">
    <p>
        Beginning September 1st, 2024, Roots of Possibility PLLC will be
        practicing from a new location inside suite 310 of the Doctors Care
        building at 609 W Littleton Blvd. See our <a
            class="text-secondary hover:text"
            href="/contact">Contact page</a
        > or reference your email confirmation for current location information.
    </p>
    <!-- <p>
        Beginning September 1st, 2024, Roots of Possibility PLLC will be
        practicing from a new location inside suite 310 of the Doctors Care
        building at 609 W Littleton Blvd. See our <a
            class="text-secondary hover:text"
            href="/contact">Contact page</a
        > for more information!
    </p> -->
</div>
