<footer>
    <hr>
    <div id="footer-content">
        <p><a href="/privacy-policy">Privacy Policy</a> &#8226; <a href="/terms-of-service">Terms of Service</a></p>
        <p>&copy 2024 Julia Kuttler</p>
    </div>
</footer>

<style>
    hr {
        @apply mt-8 mb-4 border border-accent mx-8;
    }
    #footer-content {
        @apply mb-0 w-full pt-3 pb-1 text-center;
    }
</style>