---
import { LOGO_IMAGE, SITE } from "@config";
import AuxNav from "./AuxNav.astro";
import Button from "@layouts/Button.astro";
---

<AuxNav />
<div class="nav-bar">
  <div class="nav-logo">
    <a href="/" class="logo whitespace-nowrap" title="home" aria-label="home">
      {
        LOGO_IMAGE.enable ? (
          <img src="/logo.png" alt="roots of possiblity logo" class="w-24" />
        ) : (
          SITE.title
        )
      }
    </a>
  </div>
  <label
    id="hamburger-menu"
    class="md:hidden group swap swap-rotate ml-auto mr-12 z-40"
    aria-label="Open Menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <!-- this hidden checkbox controls the state -->
    <input type="checkbox" />

    <!-- hamburger icon -->
    <svg
      class="swap-off fill-accent group-hover:fill-primary transition duration-150 ease-in"
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      height="48"
      viewBox="0 0 512 512"
    >
      <path
        d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
      ></path>
    </svg>

    <!-- close icon -->
    <svg
      class="swap-on fill-secondary group-hover:fill-neutral transition duration-150 ease-in z-40"
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      height="48"
      viewBox="0 0 512 512"
    >
      <polygon
        points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"
      ></polygon>
    </svg>
  </label>
  <div class="mobile-menu">
    <ul class="mobile-menu-main-list">
      <a href="/about"><li>About</li></a>
      <div class="pt-2.5 -mb-3.5 flex">
        <a href="/services">Services</a>
        <div class="collapse">
          <input type="checkbox" />
          <div class="collapse-title p-0">
            <svg viewBox="0 -2 24 24" fill="none" class="w-8 h-8">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.00003 8.5C6.59557 8.5 6.23093 8.74364 6.07615 9.11732C5.92137 9.49099 6.00692 9.92111 6.29292 10.2071L11.2929 15.2071C11.6834 15.5976 12.3166 15.5976 12.7071 15.2071L17.7071 10.2071C17.9931 9.92111 18.0787 9.49099 17.9239 9.11732C17.7691 8.74364 17.4045 8.5 17 8.5H7.00003Z"
                fill="#111D13"
              >
              </path>
            </svg>
          </div>
          <div class="collapse-content pl-0">
            <ul class="flex flex-col">
              <a href="/services/children"><li>Children</li></a>
              <a href="/services/adolescents"><li>Adolescents</li></a>
              <a href="/services/young-adults"><li>Young Adults</li></a>
              <a href="/services/animal-assisted"
                ><li>Animal Assisted Therapy</li></a
              >
              <a href="/services/trauma"><li>Trauma Therapy</li></a>
              <a href="/services/attachment"><li>Attachment</li></a>
              <a href="/services/self-harm"><li>Self Harm</li></a>
            </ul>
          </div>
        </div>
      </div>
      <a href="/philosophy"><li>Philosophy</li></a>
      <a href="/resources"><li>Resources</li></a>
      <a href="/faq"><li>FAQ</li></a>
      <a href="/client-portal"><li>Client Portal</li></a>
    </ul>
    <div class="mobile-menu-contact">
      <Button color={"primary"} otherClasses={"w-3/4"} link="/contact">
        Contact
      </Button>
    </div>
  </div>
  <nav>
    <ul class="nav-list">
      <a href="/about"><li>About</li></a>
      <div class="dropdown dropdown-hover">
        <div tabindex="0" role="button">
          <a href="/services">
            <li class="flex flex-nowrap">
              Services
              <span>
                <svg viewBox="0 -2 24 24" fill="none" class="w-8 h-8">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.00003 8.5C6.59557 8.5 6.23093 8.74364 6.07615 9.11732C5.92137 9.49099 6.00692 9.92111 6.29292 10.2071L11.2929 15.2071C11.6834 15.5976 12.3166 15.5976 12.7071 15.2071L17.7071 10.2071C17.9931 9.92111 18.0787 9.49099 17.9239 9.11732C17.7691 8.74364 17.4045 8.5 17 8.5H7.00003Z"
                    fill="#111D13"></path>
                </svg>
              </span>
            </li>
          </a>
        </div>
        <ul
          tabindex="0"
          class="dropdown-content menu bg-accent rounded-box absolute z-30 w-52 pt-2 px-2 pb-3 shadow"
        >
          <a class="mb-4" href="/services/children"><li>Children</li></a>
          <a class="mb-4" href="/services/adolescents"><li>Adolescents</li></a>
          <a class="mb-4" href="/services/young-adults"><li>Young Adults</li></a>
          <a class="mb-4" href="/services/animal-assisted"
            ><li>Animal Assisted Therapy</li></a
          >
          <a class="mb-4" href="/services/trauma"><li>Trauma Therapy</li></a>
          <a class="mb-4" href="/services/attachment"><li>Attachment</li></a>
          <a class="mb-4" href="/services/self-harm"><li>Self Harm</li></a>
        </ul>
      </div>
      <a href="/philosophy"><li>Philosophy</li></a>
    </ul>
    <Button color="primary" link="/contact"> Contact </Button>
  </nav>
</div>

<style>
  .nav-bar {
    @apply flex w-full mt-4;
  }
  .nav-logo {
    @apply w-3/4 sm:w-2/12 ml-1 ml-4 md:ml-12;
  }
  nav {
    @apply hidden md:flex grow justify-end mt-8 mr-4 relative z-30;
  }
  .nav-list {
    @apply flex items-start gap-8 mt-2 mr-8;
  }
  nav a {
    @apply font-sans text-2xl text-neutral relative
    before:content-[''] before:absolute before:block before:w-full before:h-[2px]
    before:bottom-0 before:left-0 before:bg-primary
    before:hover:scale-x-100 before:scale-x-0 before:origin-top-left
    before:transition before:ease-in-out before:duration-300;
  }
  nav a.active {
    @apply underline decoration-primary decoration-2 underline-offset-[12px];
  }
  .mobile-menu {
    position: absolute;
    overflow: hidden;
    z-index: 30;
    width: 0px;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #a3b18a;
    -webkit-font-smoothing: antialiased;
    transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .mobile-menu-main-list {
    @apply list-none mb-4 px-24;
  }
  .mobile-menu a {
    @apply text-neutral text-2xl;
  }

  .mobile-menu li {
    @apply py-2.5;
  }
  .mobile-menu-contact {
    @apply pl-16;
  }
  #hamberger-menu input:checked ~ ul {
    transform: none;
  }
</style>

<script>
  function toggleNav() {
    console.log("toggleNav runs");
    // Toggle menu
    const open = document.querySelector(
      "input[type=checkbox]",
    ) as HTMLInputElement;
    const menuBtn = document.querySelector(
      "#hamburger-menu",
    ) as HTMLLabelElement;
    const menuItems = document.querySelector(".mobile-menu") as HTMLDivElement;

    console.log({ menuBtn, open });

    open.addEventListener("change", () => {
      console.log("callback runs");
      const menuExpanded = open.checked;
      console.log(menuExpanded);
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu",
      );

      menuItems.style.width = menuExpanded ? "100%" : "0";
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
