---
---
<div
  class="prose dark:prose-invert prose-p:text-lg prose-img:rounded-xl
  prose-p:mb-4 prose-ol:text-xl prose-li:text-lg max-w-none prose-h2:font-normal
  prose-h3:font-normal prose-img:mx-auto prose-img:max-w-lg"
>
  <slot />
</div>