---
type Props = { children: any; };

---

<div>
    <svg class="-mb-px w-full" viewBox="0 350 900 100" ><rect x="0" y="0" width="900" height="450" fill="#F6F6F3"></rect><path d="M0 369L18.8 368.3C37.7 367.7 75.3 366.3 112.8 370.5C150.3 374.7 187.7 384.3 225.2 389.5C262.7 394.7 300.3 395.3 337.8 390C375.3 384.7 412.7 373.3 450.2 369.5C487.7 365.7 525.3 369.3 562.8 375.3C600.3 381.3 637.7 389.7 675.2 393.8C712.7 398 750.3 398 787.8 393.8C825.3 389.7 862.7 381.3 881.3 377.2L900 373L900 451L881.3 451C862.7 451 825.3 451 787.8 451C750.3 451 712.7 451 675.2 451C637.7 451 600.3 451 562.8 451C525.3 451 487.7 451 450.2 451C412.7 451 375.3 451 337.8 451C300.3 451 262.7 451 225.2 451C187.7 451 150.3 451 112.8 451C75.3 451 37.7 451 18.8 451L0 451Z" fill="#D0D7C4" stroke-linecap="round" stroke-linejoin="miter"></path></svg>
        <div class="bg-[#D0D7C4] py-2">
            <slot />
        </div>
        <svg class="-mt-px w-full" viewBox="0 0 900 100" ><rect x="0" y="0" width="900" height="450" fill="#F6F6F3"></rect><path d="M0 63L18.8 65.8C37.7 68.7 75.3 74.3 112.8 76.3C150.3 78.3 187.7 76.7 225.2 72C262.7 67.3 300.3 59.7 337.8 55.3C375.3 51 412.7 50 450.2 51.3C487.7 52.7 525.3 56.3 562.8 60.5C600.3 64.7 637.7 69.3 675.2 67.8C712.7 66.3 750.3 58.7 787.8 54.7C825.3 50.7 862.7 50.3 881.3 50.2L900 50L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z" fill="#D0D7C4" stroke-linecap="round" stroke-linejoin="miter"></path></svg>

</div>

<style>

</style>